body{
    background-color: rgba(203, 126, 248, 0.979);
}
h1{    
    text-align: center;
    color: black;
       
}
img{
    width: 10%;     
}
h3{
    background-color: rgb(243, 234, 248);
    color: black;
     
}
video{
    width: 20%;   
}

